<a href="" target="_blank" class="block ratio-box"  style="background-color: #f5f5f5;">
  <div class="ratio-box__content">
    <div class="placeholder">
      {{ 'image' | placeholder_svg_tag }}
    </div>
  </div>
  <div class="instagram-meta bg--main-accent-rgba">
    <div class="table full">
      <div class="table-cell text-align--center align--middle color--main-accent-overlay f--main instagram__caption lg--font-size--xl px2">

      </div>
    </div>
  </div>
</a>
