<div class="lightbox full fixed top--0 left--0 right--0 bottom--0">

  <div class="lightbox__inner absolute top--0 left--0 right--0 bottom--0">


    <div class="table full">
      <div class="lightbox__holder table-cell align--middle text-align--center p2"></div>
    </div>

    <!--
    <div class="lightbox__arrows font-size--xxxl">
      <a class="lightbox__arrow-left  p1 js--lightbox-arrow">
        LEFT ICON
      </a>
      <a class="lightbox__arrow-right  p1 js--lightbox-arrow">
        RIGHT ICON
      </a>
    </div>
    -->

    <button type="button" class="lightbox__close pointer fixed p2 top--0 right--0 font-size--l js--lightbox-close" tabindex=0 >
      {% include 'svg-icon', icon: 'close' %}
    </button>

  </div>
</div>
