<ul class="footer-nav mt2 font-size--s list--reset">
  {% for link in linklists[selected_linklist].links %}
    <li class="footer-nav__item{% if link.active %} footer-nav__item--active{% endif %} t--nav">
      <a href="{{ link.url }}" class="footer-nav__link {{ text_color }}">{{ link.title }}</a>
    </li>
  {% endfor %}
</ul>
