{% if section.settings.show_share_buttons %}
  <div class="password-social-sharing">
    {% include 'social' %}
  </div>
{% endif %}

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
