{% if section.settings.background_image %}
<div class="password-bg absolute top--0 left--0 right--0 bottom--0 full  blur-up lazyload"
    style="background: url('{{ section.settings.background_image | img_url: '100x' }}') no-repeat center center; background-size"
    data-bgset="{{ section.settings.background_image | img_url: '800x' }} 800w, {{ section.settings.background_image | img_url: '1200x' }} 1200w, {{ section.settings.background_image | img_url: '1600x' }} 1600w"
    data-sizes="auto">
</div>
{% endif %}


{% schema %}
  {
    "name": "Background",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      }
    ]
  }
{% endschema %}
