<section class="section bg--section m0 py4 f--main">
  <div class="wrapper section--wrapper text-align--center">
    <h1 class="t--section-title text-align--center f--main font-size--l lg--font-size--xl m0 py3">
      {{ 'general.404.title' | t }}
    </h1>

    <p>{{ 'general.404.subtext_html' | t }}</p>

  </div>
</section>
