<!-- /templates/list-collections.liquid -->
{% comment %}

  This page represents the /collections and /products pages.
  It is an optional, but highly recommended, template for your theme.

  More info:
    - http://docs.shopify.com/manual/configuration/store-customization/taking-control-of-collections-listing

{% endcomment %}



<section class="section bg--section m0 py3 f--main">
  <div class="wrapper section--wrapper">
    <h1 class="t--section-title text-align--center f--main font-size--l lg--font-size--xl m0 py3">{{ page_title }}</h1>

    <div class="grid grid-uniform  py2">
      {% for collection in collections %}
        {% unless collection.handle == 'frontpage' %}
          {% assign grid_class = 'lg--one-half' %}
          {% assign extra_class = 'mb3' %}
          {% assign text_color = 'white' %}
          {% include 'collection-list_item', collection: collection, text_color: text_color %}
        {% endunless %}
      {% endfor %}
    </div>

  </div>
</section>
